.container1 {
  background: linear-gradient(
    180deg,
    rgba(224, 40, 40, 0.687),
    rgba(96, 10, 10, 0.817)
  );
  border: 0.2rem solid rgba(255, 0, 0, 0);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem rgb(255, 255, 255),
    0 0 2rem #ff0000, 0 0 0.8rem #ff0000, 0 0 2.8rem #ff0000,
    inset 0 0 1.3rem #ff0000;
  /*margin-left: 350px;
  margin-top: 150px;
  padding-top: 30px;*/
  width: 600px;
  /*height: 350px;*/
}

/*.form-group {
  padding-top: 20px;
}*/
.form-control {
  width: 98%;
}
.noAccount:hover {
  color: #ff0000;
}
