.logo {
  height: 60px;
}

.navbar {
  background-image: linear-gradient(
    45deg,
    rgba(37, 6, 6, 0.5) 0 30%,
    rgba(253, 36, 36, 0.712)
  );
}

#search {
  width: 15rem;
}
.divisor {
  width: 1px;
  height: 2rem;
}
.nav-link {
  color: white;
  font-size: medium;
}
.nav-link:hover {
  color: #f3acac;
  cursor: pointer;
  border-bottom: 1px dotted #f3acac;
}
/*.buscar {
  background-color: rgba(220, 20, 60, 0.137);
}*/
/*.imagenPrinc {
  width: 95rem;
  height: 45rem;
}*/
