.lista {
  background-color: rgba(175, 162, 162, 0.096);
  width: 30rem;
}
.poster {
  height: 200px;
}
span:hover {
  background-color: rgba(124, 106, 106, 0.075) !important;
}
.progress-bar {
  background-color: rgba(247, 10, 10, 0.705);
}
.progress-bar2 {
  background-color: rgba(252, 247, 0, 0.849);
}
.progress {
  background-color: transparent;
}
